@font-face {
  font-family: 'FiraCode';
  src: url('./assets/fonts/FiraCode/woff2/FiraCode-SemiBold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Simple_Mood';
  src: url('./assets/fonts/simple_mood/simple_mood.woff2') format('woff2');
  font-style: normal;
}

#canvas {
  object-fit: contain;
  max-width: 99.5vw;
  max-height: 100%;
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  text-align: center;
  height: 99.5vh;
}
